# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
s1=set(range(1,11))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
s1.add(11)
s1.remove(1)
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [5]:
s2=set(range(1,6))
s3=set(range(2,11,2))
print(s3.union(s2))
print(s3.intersection(s2))
print(s3.difference(s2))
print(s3.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{8, 10, 6}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [6]:
s4={x*x for x in range(6)}
print(s4)

{0, 1, 4, 9, 16, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [7]:
s5={x*x for x in range(6) if x%2==0}
print(s5)

{0, 16, 4}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [8]:
s6={1,2,2,2,3,4,2,4,3,4,5,6}
print(s6)

{1, 2, 3, 4, 5, 6}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [10]:
s7={1,2,3,4,5}
s8={1,2,3}
print(s8.issubset(s7))
print(s7.issuperset(s8))

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [11]:
s9=frozenset(range(1,11))
print(s9)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [12]:
s10=set(range(1,6))
l10=list(s10)
l10.append(6)
s10=set(l10)
print(s10)

{1, 2, 3, 4, 5, 6}


### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [15]:
s11={frozenset({1,2,3}):4,frozenset({4,5,6}):7,frozenset({8,9,10}):11}
print(s11)

{frozenset({1, 2, 3}): 4, frozenset({4, 5, 6}): 7, frozenset({8, 9, 10}): 11}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [16]:
s12={1,2,3,4,5}
for ele in s12:
    print(ele)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [22]:
s13={1,2,3,4,5}
while s13:
    s13.pop()
print(s13)

set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [30]:
s14={1,2,3,4,5,6}
s15={4,5,6,7,8,9}
print(s15.symmetric_difference_update(s14))

None

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [28]:
s16={1,2,3,4}
if 2 in s16:
    print("present")

present


### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [29]:
s17={(1,2,3),(4,5,6),(7,8,9),(10,11,12)}
print(s17)

{(7, 8, 9), (1, 2, 3), (10, 11, 12), (4, 5, 6)}