# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [6]:
t=tuple(range(1,11))
print(t)
l=list(range(1,11))
print(l)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [8]:
print(t[0])
print(t[len(t)//2])
print(t[-1])

1
6
10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [9]:
print(t[:3])
print(t[-3:])
print(t[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [12]:
t1=(tuple(range(1,4)),tuple(range(4,7)),tuple(range(7,10)))
t1[1][2]

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [14]:
t2=(1,2,3)
t3=(4,5,6)
t4=t2.__add__(t3)
print(t4)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [1]:
t6=(1,2,2,2,3,4,5,3,2,4,5,6)
print(t6.count(2))
print(t6.index(4))

4
5


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [2]:
t7=(1,2,3,4,5)
a,b,c,d,e=t7
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [3]:
l8=[1,2,3,4,5]
t8=tuple(l8)
print(t8)

(1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [4]:
t9=((1,2,3),(4,5,6),(7,8,9))
print(t9)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [5]:
t10=(1,2,3,4,5)
l10=list(t10)
l10.append(6)
t10=tuple(l10)
print(t10)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [11]:
s='abcde'
t11=tuple(s)
s=''.join(t11)
print(s)

abcde


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [21]:
t12 = {("a","b"):"c",("d","e"):"f"}
print(t12)

{('a', 'b'): 'c', ('d', 'e'): 'f'}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [22]:
t13=((1,2,3),(4,5,6),(7,8,9))
for i in range(len(t13)):
    for j in range(len(t13[0])):
        print(t13[i][j])

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [23]:
t14=(1,2,2,2,2,3,4,5,6,7,8,7,6,7,6)
print(set(t14))

{1, 2, 3, 4, 5, 6, 7, 8}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [24]:
print(min(t14))
print(max(t14))
print(sum(t14))

1
8
68